* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 20px;
}

header nav {
    background-color: #550b17;
    display: flex;
    justify-content: center;
    gap: 1em;
    padding: 1em;
}

footer {
    background-color: #aa163e;
    padding: 1em;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
}

nav button {
    background-color: #bb4559;
    padding: 0.5em 2em;
    border-radius: 1em;
    border: none;
}

nav button:hover {
    background-color: #b32d44;
    cursor: pointer;
}

.tab.active {
    background-color: #aa162f;
}

#content {
    background-color: #ff2146;
    text-align: center;
    padding: 2em;
}

.logo {
    width: 200px;
    height: 200px;
}

.menu-heading,
.about-heading {
    font-size: 2em;
    font-weight: 700;
}

.menu-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.menu > div {
    border: 2px solid #a5aa16;
    padding: 1em;
    flex: 1;
}

.menu ul {
    list-style-type: none;
}

.menu ul li {
    margin: 1em 0;
}

.about {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}